$primary-color: rgb(98, 200, 255);

*{
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    margin: 0px;
}

header{
    background-color: $primary-color;
}

.container{
    width: 90%;
    margin: auto;
    max-width: 1140px;
}

header>.container>nav>ul{
display: flex;
justify-content: flex-end;

}

header>.container>nav>ul>li{
margin-left: 30px;
}

header>.container>nav>ul>li>a{
line-height: 60px;
color: rgb(255, 255, 255);
padding: 6px;
background-color: $primary-color;
}

header>.container>nav>ul>li>a:hover{
    color: rgb(255, 255, 3);

    }

header>.container>h1{
    color: white;
    padding-top: 20px;
}

/*頁首樣式結束*/

/*內容樣式開始*/

//*圖片相關樣式*//
.img-fluid{
    width: 100%;

}

.img-rounded{
    /*園角*/
    border-radius: 8px;
}

.img-circle{
    /*圓形*/
    border-radius: 100%;
}
//*圖片相關樣結束*//

  
//*文字相關樣式結束*//

  .text-center {
    text-align: center;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-justify {
    text-align: justify;
  }
  //*文字相關樣式結束*//

h2{
    font-size: 1.5em;
    margin: 50px auto 20px auto;
}

.row{
    display: flex;
    flex-wrap: wrap; /*換行*/
    
}

.col-4{
width: calc(100%/3 - 30px);
margin: 0px 15px 40px 15px;/*上右下左*/
}

.title a{
color: $primary-color;
font-size: 1.5em;
}

.date{
color: rgb(156, 156, 156);

}

/*footer開始*/
footer{
    background-color: $primary-color;
    color: white;
    padding: 30px;
}

dt{
    color: rgb(37, 37, 37);
    font-size: 1.2em;
    margin-bottom: 5px;

}
dd a{
    color: rgb(96, 95, 95);
}



//*design-list.html內容樣式*//

.path{
    margin: 20px 0px 0px 0px;
    color: rgb(153, 153, 153);
}
.path>a{
    color:  rgb(153, 153, 153);
}

.container-left{
    width: 30%;
}

.container-left>ul>li>a{
    line-height: 50px;
    padding: 10px;
    background-color: $primary-color;
    color: white;
    border-radius: 10px;
}

.left{
    float: left;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
    margin: 50px 0 0 0;
}

.right{
    width: 70%;
    margin: auto;
}

.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}