$primary-color: rgb(98, 200, 255);

*{
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    margin: 0px;
}

header{
    background-color: $primary-color;
}

.container{
    width: 90%;
    margin: auto;
    max-width: 1140px;
}

header>.container>nav>ul{
display: flex;
}

header>.container>nav>ul>li{
margin-right: 30px;
}

header>.container>nav>ul>li>a{
line-height: 60px;
color: rgb(255, 255, 255);
padding: 6px;
background-color: $primary-color;
}

header>.container>nav>ul>li>a:hover{
    color: rgb(255, 255, 3);

    

    }

header>.container>h1{
    color: white;
    padding-top: 20px;
}

/*頁首樣式結束*/

/*內容樣式開始*/

.img-fluid{
    width: 100%;

}

.row{
    display: flex;
    flex-wrap: wrap; /*換行*/
    

}

.col-4{
width: 33.3333%;
padding: 5px;
box-sizing: border-box;
}




/*footer開始*/
footer{
    background-color: $primary-color;
    color: white;
    text-align: center;
    padding: 30px;
}