body {
  background-color: aliceblue;
  color: #91a7ff;
}

h1 {
  color: #91a7ff;
}

.btn-primary {
  background-color: #91a7ff;
  color: white;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  letter-spacing: 2px;
}